body, html {
    height: 100%;
    width: 100%;
}

#selection-area{
    padding: 20px;
    height: 100vh;
    width: 30%;
    margin: 0;
    display: flex;
    float:left;
    background: #f8c419; 
}

.selectionDiv {
    /*text-align: left;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#urlArea {
    width: -webkit-fill-available;
    height: 40px;
    margin-top: 6px;
}

.section-area{
margin-top: 3%;
margin-bottom: 3%;
}

.section-area-inside{
    margin-top: 6%;
    margin-bottom: 6%;
}

h3{
    font-weight: bold;
}

.text-label{
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

  #preview{
    padding: 20px;
    height: 100vh;
    width: 70%;
    margin: 0;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

.clock-area {
    color: #1a1919;
    text-align: center;
    background-image: url(watercolorClock/images/blue.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: absolute;
    border-radius: 100%;
    background-color: transparent;
}

.clockTime{
    font-size: xxx-large;
    font-weight: bold;
    font-family: sans-serif;
}

#greeting, #calendar{
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

